<% provide(:title, 'Edit user') %>


  <h1 class="centered">Update your profile</h1>

  <%= form_for @user, html: { class: "sign_up_form" } do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= render 'form_fields', f: f %>
    <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>

  <% end %>

  <%= gravatar_for @user %>
  <a href="http://gravatar.com/emails" target="_blank">change</a>