<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <%= link_to "Katalog Miniatur", root_path, class: "brand" %>
      <div class="nav-collapse">
        <ul class="nav pull-right">
          <% [:home, :contact, :about, :help].each do |item| -%>
            <%= content_tag(:li, link_to(item.capitalize, eval(item.to_s + "_path")), class: (controller.action_name == item.to_s ? "active" : "")) %>
          <% end -%>

          <% if signed_in? %>
            <li><%= link_to "Users", users_path %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in!", signin_path %></li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>