<!DOCTYPE html>
<html>
<head>
  <title><%= full_title yield(:title) %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container-fluid">
    <div class="row-fluid">

      <div class="span3">
        <%= render 'layouts/sidebar' %>
      </div><!--/span-->
      
      <div class="span9">
        <%= yield %>
      </div><!--/span-->

    </div><!--/row-->

    <hr>

    <footer>
      <p>&copy; Miniatury.pl 2012</p>
    </footer>

  </div><!--/.fluid-container-->

  <%= debug(params) if Rails.env.development? %>
</body>
</html>